.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border: 1px solid;
    border-radius: 2.5%;
}

.city-feature {
    margin-bottom: 5px;
}

.icons-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}